__pycache__/

*.pyd
*.obj
*.exp
*.pyc

.idea/
.eggs/
jpegio.egg-info/
build/
jpegio/componentinfo.c
jpegio/componentinfo.cpp
jpegio/decompressedjpeg.c
jpegio/decompressedjpeg.cpp
jpegio/zigzagdctjpeg.c
jpegio/*.so
examples/.ipynb_checkpoints/

env/